<%- include("partials/header") %>

<link rel="stylesheet" href="/css/orderSuccess.css">

<section class="order-success">

  <div class="success-card">

    <div class="success-icon">✅</div>

    <h1>Order Successfully Confirmed!</h1>

    <p>Thank you for your purchase.</p>
    <p>Your order has been received and is now being processed.</p>

    <div class="success-buttons">
      <a href="/" class="btn shop-btn">Back to Home</a>
      <a href="/shop" class="btn shop-btn">Continue Shopping</a>
    </div>

  </div>

</section>

<%- include("partials/footer") %>